<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- Bootstrap CSS-->
<link rel="stylesheet" type="text/css"
	href="../../plugins/bootstrap/dist/css/bootstrap.min.css" />
<script type="text/javascript" src="../../plugins/jquery/dist/jquery.js"></script>
<script type="text/javascript"
	src="../../plugins/typeahead.js/dist/typeahead.bundle.min.js"></script>
<!-- Primary Style-->
<link rel="stylesheet" type="text/css" href="../../css/first-layout.css" />
<link rel="stylesheet" type="text/css"
	href="../../css/skins/green-skin.css" />
</head>
<body data-sidebar-color="sidebar-light" class="sidebar-light">
	<header>
		<div class="search-bar closed">
			<form>
				<div class="input-group input-group-lg">
					<input type="text" placeholder="Search for..." class="form-control" /><span
						class="input-group-btn">
						<button type="button" class="btn btn-default search-bar-toggle">
							<i class="ti-close"></i>
						</button>
					</span>
				</div>
			</form>
		</div>
	</header>
	<div class="main-container">
		<aside data-mcs-theme="minimal-dark"
			class="main-sidebar mCustomScrollbar"></aside>
		<div class="page-container">
			<div class="page-header">
				<div class="row">
					<div class="col-sm-6">
						<h4 class="mt-0 mb-5">Find Pincode</h4>
					</div>
				</div>
			</div>
			<div class="page-content container-fluid">
				<div class="row">
					<div class="col-md-3">
						<div class="widget">
							<div class="widget-header">
								<h3 class="widget-title">Input State/District/Town</h3>
							</div>
							<div class="widget-body">
								<form>
									<div class="form-group">
										<input id="state" class="form-control typeahead tt-query"
											spellcheck="false" type="text" placeholder="State" />
									</div>
									<div class="form-group">
										<input id="district" class="form-control typeahead tt-query"
											type="text" placeholder="District" />
									</div>
									<div class="form-group">
										<input id="town" class="form-control typeahead" type="text"
											placeholder="Town" />
									</div>
									<div class="form-group">
										<input id="village" class="form-control typeahead" type="text"
											placeholder="Village" />
									</div>
									<div class="form-group">
										<input id="locality" class="form-control typeahead"
											type="text" placeholder="Locality" />
									</div>
									<button type="submit" class="btn btn-outline btn-success">Submit</button>
								</form>
							</div>
						</div>
					</div>
					<div class="col-md-7"></div>
				</div>
			</div>
			<div class="page-footer"></div>
		</div>
	</div>
</body>
</html>
<script type="text/javascript">
	$(document).ready(function() {
		//States Typeahead
		var states = new Bloodhound({
			datumTokenizer : Bloodhound.tokenizers.obj.whitespace('value'),
			queryTokenizer : Bloodhound.tokenizers.whitespace,
			prefetch : './pincodes/states?state',
			remote : {
				url : './pincodes/states?state=' + '%QUERY',
				wildcard : '%QUERY'
			}
		});
		$('#state').typeahead({
			hint : true,
			highlight : true, /* Enable substring highlighting */
			minLength : 2
		/* Specify minimum characters required for showing result */
		}, {
			name : 'states',
			source : states,
			limit : 10
		});
		// Districts Typeahead
		var districts = new Bloodhound({
			datumTokenizer : Bloodhound.tokenizers.obj.whitespace('value'),
			queryTokenizer : Bloodhound.tokenizers.whitespace,
			prefetch : './pincodes/districts?district',
			remote : {
				url : './pincodes/districts?district=' + '%QUERY',
				wildcard : '%QUERY'
			}
		});
		$('#district').typeahead({
			hint : true,
			highlight : true, /* Enable substring highlighting */
			minLength : 2
		/* Specify minimum characters required for showing result */
		}, {
			name : 'districts',
			source : districts,
			limit : 10

		});

		//Subdistricts TypeAhead
		var subdistricts = new Bloodhound({
			datumTokenizer : Bloodhound.tokenizers.obj.whitespace('value'),
			queryTokenizer : Bloodhound.tokenizers.whitespace,
			prefetch : './pincodes/subdistricts?subdistrict',
			remote : {
				url : './pincodes/subdistricts?subdistrict=',
				replace : function() {
					var q = './pincodes/subdistricts/';
					if ($('#state').val()) {
						q += $('#state').val() + '/';
					}
					if ($('#town').val()) {
						q += $('#town').val() + '/';
					}
					if ($('#district').val()) {
						q += $('#district').val();
					}
					console.log(q);
					return q;
				}
			}
		});
		$('#town').typeahead({
			hint : true,
			highlight : true, /* Enable substring highlighting */
			minLength : 2
		/* Specify minimum characters required for showing result */
		}, {
			name : 'subdistricts',
			source : subdistricts,
			limit : 10

		});

	});
</script>